@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Merienda+One&family=Mochiy+Pop+One&family=Niconne&family=Pacifico&family=Poppins&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif !important;
}

.container{
    background-color: #1d3557;
    width: 60% !important;
}

section{
    background-color: #1d3557;
}

.card-form{
    background-color: #edf2f4 !important;
    border-radius: 30px;
}

.img-form{
    border-radius: 30px;
    height: -webkit-fill-available !important;
}

.logo {
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Niconne', cursive;
    color: #1d3557;
}

.logo-point{
    font-size: 47px;
    font-weight: bolder;
    font-family: 'Niconne', cursive;
    color: #e9a92d;
}

.form-label{
    color: #1d3557 !important;
    font-weight: bold;
}

.form-control{
    border-radius: 10px !important;
}

.main-btn{
    border-radius: 10px !important;
    background-color: #e9a92d !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
}

.second-btn{
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px !important;
    background-color: #e9a92d!important;
}

.text-form{
    font-family: 'Poppins', sans-serif !important;
    color: #1d3557;
    font-weight: bold;
}

.img-fluid{
    min-width: 100% !important;
}

.login-text{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #1d3557;
}

.login-detail{
    font-family: 'Poppins', sans-serif;
    color: #1d3557;
}

@media (max-width: 600px){
    .container{
        background-color: #1d3557;
        width: 90% !important;
    }

    .logo {
        font-size: 30px;
    }
    
    .logo-point{
        font-size: 37px;
    }
}

.dash-body{
    background-color: #edf2f4 !important;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: #1d3557 !important;
    border-bottom-right-radius: 70px !important;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.logo-dash {
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Niconne', cursive;
    color: #edf2f4;
}

.point-dash{
    font-size: 47px;
    font-weight: bolder;
    font-family: 'Niconne', cursive;
    color: #e9a92d;
}

.dropdown-menu{
    background-color: #edf2f4 !important;
    border-radius: 15px !important;
}

.dropdown-menu a:hover{
    background-color: #1d3557 !important;
    color: #edf2f4 !important;
}

.dropdown-menu button:hover{
    background-color: #1d3557 !important;
    color: #edf2f4 !important;
}

.navbar-toggler{
    color: #edf2f4 !important;
}

:root {
    --topNavbarHeight: 95px !important;
}

.sidebar-nav {
    --bs-offcanvas-width: 220px !important;
    top: var(--topNavbarHeight) !important;
    background-color: #1d3557 !important;
    font-weight: bold !important;
    border-bottom-right-radius: 60px !important;
}

.sidebar-text {
    font-size: 16px !important;
}

.offcanvas-backdrop.show {
    display: none !important;
}

.close-offcanvas {
    display: block;
}

main {
    margin: 125px 10px 0 15px;
    font-family: 'Poppins', sans-serif;
}

.modal-backdrop{
    display: none !important;
}

.welcome-card {
    background: rgb(231, 229, 229);
}

.bx-shadow{
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-style{
    z-index: -1;
    position: absolute;
    width: 55%;
    height: 200%;
    background-color: #e9a92d;
    transform: skewX(43deg);
}

.btn-modal{
    background-color: #1d3557 !important;
    border-radius: 10px !important;
    color: #edf2f4 !important;
}

.card-text{
    color: #1d3557 !important;
    font-weight: bolder !important;
}

.modal-title{
    color: #1d3557 !important;
}

#data-table_wrapper{
    margin-top: 50px !important;
    font-family: 'Poppins', sans-serif;
    color: #1d3557 !important;
    font-weight: bolder !important;
}

.dataTables_wrapper .dataTables_filter input{
    border-radius: 10px !important;
}

.dataTables_scrollHeadInner{
    margin-top: 20px;
}

thead{
    background-color: #1d3557;
    color: #edf2f4 !important;
}

table{
    border-radius: 65px !important;
}

div.card.card-statis{
    border-radius: 30px;
    font-weight: bolder !important;
    color: #1d3557 !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
}

div.card.card-statis i{
    color: #e9a92d !important;
}

@media (min-width: 992px) {
    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        border-bottom-right-radius: 60px !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        top: var(--topNavbarHeight) !important;
        height: calc(100% - var(--topNavbarHeight)) !important;
    }
    .close-offcanvas {
        display: none;
    }

    main {
        margin-left: 240px;
    }

    .height-form{
        height: 100vh;
    }
}

#song-more-btn{
    background-color: #1d3557 !important;
    color: #edf2f4 !important;
    border-radius: 10px !important;
}

.validation{
    color: red !important;
}

.height-form{
    height: 100%;
}